<div class="wrapper">
    <div class="query-section">
        <div class="query-box">            
                <input  type="text" id="query"  [(ngModel)]="query" autocomplete="off" (keydown.enter)="askLlama()" placeholder="Ask anything..."/>                          
        </div>
        
        <button (click)="askLlama()" class="query-button">➤</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 demo"></div>
            <div class="col-md-8 typewriter" markdown *ngIf="!loading">
                {{result}}
            </div>
            <div class="loading-logo" *ngIf="loading">
                <div class="loader" ></div>
                <div class="wave"></div>
                <div class="please-wait"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
