
.query-section{
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

   

    #query{
      width: 500px;
      border: none;
      border-bottom: 1px solid gray;
      
      border-radius: 5px;   
      outline: none;   
      padding: 5px;
    }
    .query-box{
       margin-right: 30px;
       
    }

    .query-button {
        background-color: #e7b73d;
        border: 0 solid #E5E7EB;
        border-radius: 0px 40px 40px 0px;
        box-sizing: border-box;
        color: #ffffff;
        display: flex;
        font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 700;
        justify-content: center;
        line-height: 1.75rem;
        padding: .75rem 1.65rem;
        position: relative;
        text-align: center;
        text-decoration: none #000000 solid;
        text-decoration-thickness: auto;
        width: 50%;
        max-width: 100px;
        position: relative;
        cursor: pointer;
        transform: rotate(-2deg);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        // @include arrow($red);
      }
      
      .query-button:focus {
        outline: 0;
      }
      
      .query-button:after {
        content: '';
        position: absolute;
        border: 1px solid #000000;
        border-radius: 0px 40px 40px 0px;
        bottom: 4px;
        left: 4px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
      }
      
      .query-button:hover:after {
        bottom: 2px;
        left: 2px;
      }
      
      @media (min-width: 768px) {
        .query-button {
          padding: .75rem 3rem;
          font-size: 1.25rem;
        }
      }
}

.container{
  margin-left: auto;
  

}
.loading-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.loader:before,
.loader:after {
  content: "";
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#fff 95%,#ffff) 35% 35%/6px 6px no-repeat
    #e7b73d;
  animation: l5 3s infinite;
}

@keyframes l5 {
  0%,11%   {background-position:35% 35%}
  14%,36%  {background-position:65% 35%}
  38%,61%  {background-position:65% 65%}
  64%,86%  {background-position:35% 65%}
  88%,100% {background-position:35% 35%}
}

.wave {
  height: 20px;
  width: 6%;
  margin-bottom: 50px;
  aspect-ratio: 6;
  --c: #0000 64%,#000 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 25% 100%;
  background-size: calc(100%/3) 50%;
  background-repeat: repeat-x;
  animation: l1 1s infinite linear;
}
@keyframes l1{
  to {background-position: 50% 0,75% 100%}
}

.please-wait {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height:1.2em;
  overflow: hidden;
}
.please-wait:before {
  content:"Finding...\A⌰inding...\A⌰⍜nding...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
  white-space: pre;
  display: inline-block;
  animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
  100%{transform: translateY(-100%)}
}

.typewriter {
  // overflow: hidden; /* Ensures the content is not revealed until the animation */
  // border-right: .15em solid orange; /* The typwriter cursor */
  // white-space: nowrap; /* Keeps the content on a single line */
  // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  // letter-spacing: .15em; /* Adjust as needed */
  animation: 
    focus 1s steps(20, end),
    
}

@keyframes focus {
  from { opacity: 0; }
  to { opacity: 1;}
}